@media only screen and (min-width: 768px) {
    .divstyle {
        height: 95%;
        width: 100%;
        text-align: center;
    }
    .icon {
        width: 50px;
        height: 50px;
    }
    .invisibleDiv {
        height: 270px;
    }
    .backrelated {
        background-repeat: no-repeat;
    }
    .youtubeDiv {
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    .divstyle {
        height: 40%;
        width: 100%;
        text-align: center;
    }
    .textindiv {
        display: none;
        height: 0px;
        width: 0px;
    }
    .icon {
        width: 20px;
        height: 20px;
    }
    .invisibleDiv {
        height: 10px;
    }
    .backrelated {
        background-repeat: repeat-y;
    }
    .youtubeDiv {
        width: 100%;
    }
}

.divparagraph {
    -webkit-box-shadow: 6px 16px 50px -16px rgba(0, 0, 0, 1);
    -moz-box-shadow: 6px 16px 50px -16px rgba(0, 0, 0, 1);
    box-shadow: 6px 16px 50px -16px rgba(0, 0, 0, 1);
    margin-bottom: 30;
}


/*
.card {
    border: 0px;
}*/

.panel {
    border-style: solid;
    border-color: #94b8b8;
    border-width: 1px;
    margin: 5px;
    border-radius: 5px;
}

.panel-heading {
    background-color: #94b8b8;
    padding: 3px;
}

.panel-body {
    padding: 3px;
}

.react-rater {
    display: inline-block;
    line-height: normal;
}

.react-rater a {
    cursor: pointer;
    color: #ccc;
    position: relative;
}

.react-rater a.will-be-active {
    color: #fc6;
}

.react-rater a.is-active {
    color: #fc6;
}

.react-rater a.is-active-half:before {
    color: #fc6;
    content: '\2605';
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
}

.react-rater a.is-disabled {
    cursor: default;
}

.panel-body>.form-group {
    margin-bottom: 3px;
}

.margin-list {
    margin-top: 5px;
    width: 100%;
}